@model TubaSaday.Models.ConnectionString
@{
    ViewBag.Title = "Home Page";
}

<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<div class="jumbotron">
    <h1>Tuba Saday</h1>
    <p class="lead">Challange Codes</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">For Usage..</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

        <div id="result"></div>
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
        {
            @Html.EditorFor(x => x.connectionString)
            @Html.ValidationMessageFor(x => x.connectionString)
            <input type="submit" value="OK" />
        }


    </div>
</div>